body {
    background-image: url(../img/gray-polygon-ppt-background-image.jpg);
    background-repeat: repeat;
    backface-visibility: 50%;
}

.jumbotron {
    background-image: url(../img/Website-Banner-White-BG-02-01.jpg);
    background-position: center;
    background-size: contain;
    margin-bottom: 0;
}

h1 {
    font-weight: 500;
    text-shadow: grey 1px 1px 2px;
    font-size: 4.5rem;
}

h2 {
    margin-top: 25px;
    font-size: 3rem;
    font-style: italic;
}

main {
    margin-top: 0;
}

.non-dispo {
    color:#996aae; 
    font-style: italic;
    font-weight:bold;
}

.dispo {
    color:#7cc2c4;
    font-weight:bold;
}

a {
    color: rgb(66, 66, 66);
    font-weight: 700;
}

.btn-base {
    background-color: #7cc2c4;
}

.btn-base:hover {
    background-color: #996aae;
    font-weight: 800;
}
button a:hover {
    text-decoration: none;
    color: black;
}

.intitule {
    font-weight: 800;
    font-style: italic;
}

.alert-dispo {
    background-color: #e8d9f0;
    border-color: #d8bbe6;
    color: #996aae;
}

.alert-succes {
background-color: #c6e4e6;
border-color: #9dd9db;
color: #579da0;
}